*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
local.properties
